@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.3588 0.1354 278.6973);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.3588 0.1354 278.6973);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3588 0.1354 278.6973);
    --primary: oklch(0.6056 0.2189 292.7172);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9618 0.0202 295.1913);
    --secondary-foreground: oklch(0.4568 0.2146 277.0229);
    --muted: oklch(0.9691 0.0161 293.7558);
    --muted-foreground: oklch(0.5413 0.2466 293.0090);
    --accent: oklch(0.9319 0.0316 255.5855);
    --accent-foreground: oklch(0.4244 0.1809 265.6377);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9299 0.0334 272.7879);
    --input: oklch(0.9299 0.0334 272.7879);
    --ring: oklch(0.6056 0.2189 292.7172);
    --chart-1: oklch(0.6056 0.2189 292.7172);
    --chart-2: oklch(0.5413 0.2466 293.0090);
    --chart-3: oklch(0.4907 0.2412 292.5809);
    --chart-4: oklch(0.4320 0.2106 292.7591);
    --chart-5: oklch(0.3796 0.1783 293.7446);
    --radius: 0.625rem;
    --sidebar: oklch(0.9691 0.0161 293.7558);
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --font-sans: Roboto, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: Fira Code, monospace;
    --shadow-color: hsl(255 86% 66%);
    --shadow-opacity: 0.2;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-offset-x: 2px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
    --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
    --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
    --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
    --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
    --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
    --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
    --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
    --tracking-normal: 0em;
    --sidebar-background: 0 0% 98%;
  }

  .dark {
    --background: oklch(0.2077 0.0398 265.7549);
    --foreground: oklch(0.9299 0.0334 272.7879);
    --card: oklch(0.2573 0.0861 281.2883);
    --card-foreground: oklch(0.9299 0.0334 272.7879);
    --popover: oklch(0.2573 0.0861 281.2883);
    --popover-foreground: oklch(0.9299 0.0334 272.7879);
    --primary: oklch(0.6056 0.2189 292.7172);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.2573 0.0861 281.2883);
    --secondary-foreground: oklch(0.9299 0.0334 272.7879);
    --muted: oklch(0.2329 0.0919 279.1398);
    --muted-foreground: oklch(0.8112 0.1013 293.5712);
    --accent: oklch(0.4568 0.2146 277.0229);
    --accent-foreground: oklch(0.9299 0.0334 272.7879);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.2827 0.1351 291.0894);
    --input: oklch(0.2827 0.1351 291.0894);
    --ring: oklch(0.6056 0.2189 292.7172);
    --chart-1: oklch(0.7090 0.1592 293.5412);
    --chart-2: oklch(0.6056 0.2189 292.7172);
    --chart-3: oklch(0.5413 0.2466 293.0090);
    --chart-4: oklch(0.4907 0.2412 292.5809);
    --chart-5: oklch(0.4320 0.2106 292.7591);
    --radius: 0.625rem;
    --sidebar: oklch(0.2077 0.0398 265.7549);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --font-sans: Roboto, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: Fira Code, monospace;
    --shadow-color: hsl(255 86% 66%);
    --shadow-opacity: 0.2;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-offset-x: 2px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
    --shadow-xs: 2px 2px 4px 0px hsl(255 86% 66% / 0.10);
    --shadow-sm: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
    --shadow: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 1px 2px -1px hsl(255 86% 66% / 0.20);
    --shadow-md: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 2px 4px -1px hsl(255 86% 66% / 0.20);
    --shadow-lg: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 4px 6px -1px hsl(255 86% 66% / 0.20);
    --shadow-xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.20), 2px 8px 10px -1px hsl(255 86% 66% / 0.20);
    --shadow-2xl: 2px 2px 4px 0px hsl(255 86% 66% / 0.50);
    --sidebar-background: 240 5.9% 10%;
  }

  .theme {
    --font-sans: Roboto, sans-serif;
    --font-mono: Fira Code, monospace;
    --font-serif: Playfair Display, serif;
    --radius: 0.625rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
